DB_HOST=localhost
DB_PORT=5434
DB_NAME=revue
DB_USER=revue
DB_PASSWORD=replace_with_strong_password

AIRFLOW_URL=http://localhost:8080
AIRFLOW_USERNAME=airflow
AIRFLOW_PASSWORD=airflow

NEXT_PUBLIC_API_BASE_URL=http://localhost:8011/api
